In [1]:
import pandas as pd

In [5]:
df_courses = pd.read_csv('../Data/interim/Courses.csv')

In [6]:
df_courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3351 entries, 0 to 3350
Data columns (total 16 columns):
id                      3351 non-null int64
title                   3351 non-null object
url                     3351 non-null object
isPaid                  3351 non-null bool
price                   3351 non-null float64
numSubscribers          3351 non-null int64
numReviews              3351 non-null int64
numPublishedLectures    3351 non-null int64
instructionalLevel      3351 non-null object
contentInfo             3351 non-null object
publishedTime           3351 non-null object
category                3351 non-null object
timeSpent               3351 non-null float64
publishDate             3351 non-null object
level                   3351 non-null object
paidBool                3351 non-null bool
dtypes: bool(2), float64(2), int64(4), object(8)
memory usage: 373.1+ KB

In [8]:
df_courses.drop(columns=['url', 'isPaid', 'instructionalLevel', 'contentInfo', 'publishedTime'], inplace=True)

In [9]:
df_courses.head()

,id,title,price,numSubscribers,numReviews,numPublishedLectures,category,timeSpent,publishDate,level,paidBool
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,75.0,43285,525,24,WebDevelopment,4.0,2013-01-03,All Levels,True
1,19603,Learning Dynamic Website Design - PHP MySQL an...,50.0,47886,285,125,WebDevelopment,12.5,2012-06-18,All Levels,True
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,50.0,2577,529,64,WebDevelopment,4.5,2016-06-30,All Levels,True
3,197836,Projects in HTML5,60.0,8777,206,75,WebDevelopment,15.5,2014-06-17,Intermediate Level,True
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,20.0,23764,490,58,WebDevelopment,5.5,2015-10-17,Beginner Level,True

In [ ]:
#Predicting prices based on the features above: