# Initial Findings Udemy Courses

In this first section, we analyze Udemy courses using datasets provided by Chase Willden on [data.world](https://data.world/chasewillden) according to four different categories of courses:  
- Web Development
- Graphic Design
- Music Instruments
- Business Finance
 
Importing basic packages:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df_WebDev = pd.read_csv('../Data/raw/WebDevelopment.csv')
df_GraphDesig = pd.read_csv('../Data/raw/GraphicDesign.csv')
df_MusicInstr = pd.read_csv('../Data/raw/MusicInstraments.csv')
df_BussFinan = pd.read_csv('../Data/raw/BusinessFinance.csv')

Drop unknown columns: `Unnamed: 11`, `Unnamed: 12`:

In [20]:
df_WebDev.dropna(axis=1, how='all', inplace=True)
df_GraphDesig.dropna(axis=1, how='all', inplace=True)
df_MusicInstr.dropna(axis=1, how='all', inplace=True)
df_BussFinan.dropna(axis=1, how='all', inplace=True)

Inserting `category` column:

In [22]:
df_WebDev['category'] = 'WebDevelopment'
df_GraphDesig['category'] = 'GraphicDesign'
df_MusicInstr['category'] = 'MusicInstrument'
df_BussFinan['category'] = 'BussinessFinance'

In [26]:
df_courses = pd.concat([df_WebDev, df_GraphDesig, df_MusicInstr, df_BussFinan], ignore_index=True, sort=False)

Quick inspection:

In [30]:
df_courses.head(2)

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime,Is Paid,Total,Percent,category,Column1
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,True,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z,Yes,1067.0,89%,WebDevelopment,NaN
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,True,50,47886,285,125,All Levels,12.5 hours,2012-06-18T16:52:34Z,No,133.0,11%,WebDevelopment,NaN

In [31]:
df_courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 16 columns):
id                      3683 non-null int64
title                   3683 non-null object
url                     3683 non-null object
isPaid                  3683 non-null object
price                   3683 non-null object
numSubscribers          3683 non-null int64
numReviews              3683 non-null int64
numPublishedLectures    3683 non-null int64
instructionalLevel      3683 non-null object
contentInfo             3683 non-null object
publishedTime           3683 non-null object
Is Paid                 8 non-null object
Total                   8 non-null float64
Percent                 4 non-null object
category                3683 non-null object
Column1                 5 non-null object
dtypes: float64(1), int64(4), object(11)
memory usage: 460.5+ KB

In [ ]:
Drop columns

In [ ]:
df_GraphDesig.info()

In [ ]:
df_WebDev.info()

In [ ]:
df_WebDev.info()

In [5]:
df_WebDev.drop(subset=['Unnamed: 11', 'Unnamed: 12'], inplace=True)

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime,Unnamed: 11,Unnamed: 12,Is Paid,Total,Column1
0,880202,Anatomy and Figure Drawing for Beginners,https://www.udemy.com/anatomy-and-figure-drawi...,True,150,2252,240,111,Beginner Level,21 hours,2016-06-20T15:31:48Z,NaN,NaN,Yes,568.0,94%
1,1197206,Illustrator CC MasterClass,https://www.udemy.com/illustrator-cc-masterclass/,True,95,462,50,86,All Levels,12 hours,2017-05-02T16:41:21Z,NaN,NaN,No,35.0,6%
2,1117796,Typographic Logo Design in Illustrator - Begin...,https://www.udemy.com/typographical-logo-design/,True,150,1720,40,27,All Levels,1.5 hours,2017-02-23T21:40:39Z,NaN,NaN,NaN,NaN,NaN
3,1219520,Adobe Illustrator T-Shirt Design for Merch by ...,https://www.udemy.com/merchbyamazondesign/,True,20,390,44,15,All Levels,1 hour,2017-06-13T20:41:14Z,NaN,NaN,NaN,NaN,NaN
4,595876,Logo Design in Adobe Illustrator - for Beginne...,https://www.udemy.com/logodesign/,True,200,4297,337,110,All Levels,7.5 hours,2015-10-01T21:40:39Z,NaN,NaN,NaN,NaN,NaN

In [3]:
df_WebDev.head()

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime,Unnamed: 11,Unnamed: 12,Is Paid,Total,Percent
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,True,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z,NaN,NaN,Yes,1067.0,89%
1,19603,Learning Dynamic Website Design - PHP MySQL an...,https://www.udemy.com/learning-dynamic-website...,True,50,47886,285,125,All Levels,12.5 hours,2012-06-18T16:52:34Z,NaN,NaN,No,133.0,11%
2,889438,ChatBots: Messenger ChatBot with API.AI and No...,https://www.udemy.com/chatbots/,True,50,2577,529,64,All Levels,4.5 hours,2016-06-30T16:57:08Z,NaN,NaN,NaN,NaN,NaN
3,197836,Projects in HTML5,https://www.udemy.com/projects-in-html5/,True,60,8777,206,75,Intermediate Level,15.5 hours,2014-06-17T05:43:50Z,NaN,NaN,NaN,NaN,NaN
4,505208,Programming Foundations: HTML5 + CSS3 for Entr...,https://www.udemy.com/html-css-more/,True,20,23764,490,58,Beginner Level,5.5 hours,2015-10-17T04:52:25Z,NaN,NaN,NaN,NaN,NaN